<a href="https://colab.research.google.com/github/SACHINKUMARHACKER/100-days-of-ML/blob/master/Machine_learning_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Machine Learning 101
Ready to take the battle

In [0]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
%matplotlib inline

In [0]:
import seaborn as sns

#Get Data from Kaggle

In [0]:
df = pd.DataFrame(
    [1,2,3]
)

In [4]:
df

   0
0  1
1  2
2  3